.features {
  display: flex;
  align-items: center;
  padding: 2rem 0 0 0;
  width: 100%;
  background-color: var(--ht-color-primary-rgb);
}

.featurestopdivider {
  background-color: var(--ifm-color-primary);
  background-image: url("./img/HomotechsualScruffyBorder.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 110% 4rem;
  display: block;
  width: 100%;
  padding-top: 2rem;
}

.featuresbottomdivider {
  background-color: var(--ifm-navbar-background-color);
  background-image: url("./img/HomotechsualScruffyBorder.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 110% 4rem;
  display: block;
  width: 100%;
  padding-bottom: 2rem;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.feature {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;
}

.iconbutton {
  align-self: center;
  align-items: center;
  display: inline-flex;
  height: 100%;
  --ifm-button-padding-horizontal: 1rem;
}
