{
  "openapi": "3.0.1",
  "info": {
    "title": "Ninja RMM Public API 2.0",
    "description": "Ninja RMM Public API documentation. <br /><br />\nSee also: <br /> \n<a href=\"https://resources.ninjarmm.com/API/Ninja+RMM+Public+API+v2.0.5+Device+Filter+Syntax.pdf\">Device Filter syntax</a><br />\n<a href=\"https://resources.ninjarmm.com/API/Ninja+RMM+Public+API+v2.0.5+Webhooks.pdf\">Webhooks</a>",
    "contact": { "email": "api@ninjarmm.com" },
    "version": "2.0.9-draft"
  },
  "servers": [
    {
      "url": "https://eu.ninjarmm.com",
      "description": "EU instance"
    },
    {
      "url": "https://app.ninjarmm.com",
      "description": "US instance"
    },
    {
      "url": "https://oc.ninjarmm.com",
      "description": "Oceania instance"
    }
  ],
  "security": [
    { "oauth2": ["monitoring", "Management", "control"] },
    { "sessionKey": ["monitoring", "Management", "control"] },
    { "bearer": ["monitoring", "Management", "control"] }
  ],
  "tags": [
    { "name": "System", "description": "Core system Entities and Resources" },
    { "name": "Organization", "description": "Organizations" },
    { "name": "Devices", "description": "Devices" },
    { "name": "Groups", "description": "Groups/Search" },
    { "name": "Queries", "description": "Queries" },
    { "name": "Management", "description": "Management" },
    { "name": "Ticketing", "description": "Ticketing" }
  ],
  "paths": {
    "/api/v2/alert/{uid}": {
      "delete": {
        "tags": ["Management"],
        "summary": "Reset alert/condition",
        "description": "Resets alert/condition by UID",
        "operationId": "resetAlert",
        "security": [
          { "bearer": ["Management"] },
          { "sessionKey": ["Management"] },
          { "oauth2": ["Management"] }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "example": "f8c6f8c6-f8c6-f8c6-f8c6-f8c6f8c6f8c6"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Bash",
            "source": "curl -X DELETE https://eu.ninjarmm.com/api/v2/alert/f8c6f8c6-f8c6-f8c6-f8c6-f8c6f8c6f8c6 -H 'authorization: Bearer <token>'"
          },
          {
            "lang": "PowerShell",
            "source": "Invoke-WebRequest -Method DELETE -Uri https://eu.ninjarmm.com/api/v2/alert/f8c6f8c6-f8c6-f8c6-f8c6-f8c6f8c6f8c6 -Headers @{ 'authorization' = 'Bearer <token>' } -ContentType 'application/json'"
          },
          {
            "lang": "NinjaOne Module",
            "source": "Reset-NinjaOneAlert -uid 'f8c6f8c6-f8c6-f8c6-f8c6-f8c6f8c6f8c6'"
          }
        ]
      }
    },
    "/api/v2/organizations": {
      "get": {
        "tags": ["Organization"],
        "summary": "List organizations",
        "description": "Returns list of organizations (Brief mode)",
        "operationId": "getOrganizations",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Limit number of organizations to return",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Last Organization Identifier from previous page",
            "schema": { "type": "integer", "format": "int32" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organization"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Bash",
            "source": "curl -X GET https://eu.ninjarmm.com/api/v2/organizations -H 'authorization: Bearer <token>'"
          },
          {
            "lang": "PowerShell",
            "source": "Invoke-WebRequest -Method GET -Uri https://eu.ninjarmm.com/api/v2/organizations -Headers @{ 'authorization' = 'Bearer <token>' } -ContentType 'application/json'"
          },
          {
            "lang": "NinjaOne Module",
            "source": "Get-NinjaOneOrganisations"
          }
        ]
      },
      "post": {
        "tags": ["Organization"],
        "summary": "Create new organization",
        "description": "Creates new organization with optional list of locations and policy mappings.\nTemplate organization ID can be specified to copy various settings",
        "operationId": "createOrganization",
        "parameters": [
          {
            "name": "templateOrganizationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Model/Template organization to copy settings from",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationDetailed"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string", "description": "Organization full name" },
                    "description": { "type": "string", "description": "Organization Description" },
                    "userData": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Custom attributes"
                    },
                    "nodeApprovalMode": {
                      "type": "string",
                      "description": "Device Approval Mode",
                      "enum": ["AUTOMATIC", "MANUAL", "REJECT"]
                    },
                    "tags": {
                      "type": "array",
                      "description": "Tags",
                      "items": { "type": "string", "description": "Tags" }
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": { "type": "object", "description": "Custom Fields" },
                      "description": "Custom Fields"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Organization identifier",
                      "format": "int32"
                    },
                    "locations": {
                      "type": "array",
                      "description": "List of locations",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string", "description": "Location name" },
                          "address": { "type": "string", "description": "Address" },
                          "description": { "type": "string", "description": "Description" },
                          "userData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom attributes"
                          },
                          "tags": {
                            "type": "array",
                            "description": "Tags",
                            "items": { "type": "string", "description": "Tags" }
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "description": "Custom Fields"
                            },
                            "description": "Custom Fields"
                          },
                          "id": {
                            "type": "integer",
                            "description": "Location identifier",
                            "format": "int32"
                          }
                        },
                        "description": "Location"
                      }
                    },
                    "policies": {
                      "type": "array",
                      "description": "Node role policy assignments",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nodeRoleId": {
                            "type": "integer",
                            "description": "Node Role Identifier",
                            "format": "int32"
                          },
                          "policyId": {
                            "type": "integer",
                            "description": "Policy Identifier",
                            "format": "int32"
                          }
                        },
                        "description": "Node role policy assignments"
                      }
                    },
                    "settings": {
                      "$ref": "#/components/schemas/OrganizationSettings"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/webhook": {
      "put": {
        "tags": ["Management"],
        "summary": "API Webhook configuration",
        "description": "Creates or updates Webhook configuration for current application/client",
        "operationId": "configureWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          }
        }
      },
      "delete": {
        "tags": ["Management"],
        "summary": "Remove Webhook API channel",
        "description": "Creates or updates PSA configuration based on client",
        "operationId": "disableWebhook",
        "responses": { "default": { "description": "default response", "content": { "*/*": {} } } }
      }
    },
    "/api/v2/devices/approval/{mode}": {
      "post": {
        "tags": ["Management"],
        "summary": "Approve/Reject devices",
        "description": "Approve or reject devices that are waiting for approval",
        "operationId": "nodeApprovalOperation",
        "parameters": [
          {
            "name": "mode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Approval action to perform",
              "enum": ["APPROVE", "REJECT"]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "devices": { "type": "array", "items": { "type": "integer", "format": "int32" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          }
        }
      }
    },
    "/api/v2/alert/{uid}/reset": {
      "post": {
        "tags": ["Management"],
        "summary": "Reset alert/condition and provide custom data for activity",
        "description": "Resets alert/condition by UID",
        "operationId": "resetAlertSetActivityData",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "default": { "description": "default response", "content": { "*/*": {} } } }
      }
    },
    "/api/v2/ticketing/ticket/{ticketId}": {
      "put": {
        "tags": ["Management"],
        "summary": "modify ticket",
        "description": "modify ticket",
        "operationId": "update",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ticket": {
                    "type": "object",
                    "properties": {
                      "requestUid": { "type": "string", "format": "uuid" },
                      "version": { "type": "integer", "format": "int32" },
                      "clientId": { "type": "integer", "format": "int32" },
                      "ticketFormId": { "type": "integer", "format": "int32" },
                      "locationId": { "type": "integer", "format": "int32" },
                      "nodeId": { "type": "integer", "format": "int32" },
                      "summary": { "maxLength": 200, "minLength": 0, "type": "string" },
                      "status": {
                        "type": "string",
                        "enum": ["NEW", "OPEN", "WAITING", "PAUSED", "RESOLVED", "CLOSED"]
                      },
                      "type": {
                        "type": "string",
                        "enum": ["PROBLEM", "QUESTION", "INCIDENT", "TASK"]
                      },
                      "assignedAppUserId": { "type": "integer", "format": "int32" },
                      "requesterUid": { "type": "string", "format": "uuid" },
                      "ccList": {
                        "type": "object",
                        "properties": {
                          "uids": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": { "type": "string", "format": "uuid" }
                          },
                          "emails": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": { "type": "string" }
                          }
                        }
                      },
                      "attributeValues": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "integer", "format": "int32" },
                            "attributeId": { "type": "integer", "format": "int32" },
                            "value": { "type": "string" }
                          }
                        }
                      },
                      "severity": {
                        "type": "string",
                        "enum": ["NONE", "MINOR", "MODERATE", "MAJOR", "CRITICAL"]
                      },
                      "priority": { "type": "string", "enum": ["NONE", "LOW", "MEDIUM", "HIGH"] },
                      "tags": { "type": "array", "items": { "type": "string" } },
                      "parentTicketId": { "type": "integer", "format": "int32" }
                    }
                  },
                  "comment": {
                    "type": "object",
                    "properties": {
                      "public": { "type": "boolean" },
                      "body": { "type": "string" },
                      "htmlBody": { "type": "string" },
                      "uploads": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "resourceId": { "type": "string" },
                            "metadata": {
                              "type": "object",
                              "properties": {
                                "name": { "type": "string" },
                                "mimeType": { "type": "string" },
                                "size": { "type": "string" },
                                "extension": { "type": "string" },
                                "contentId": { "type": "string" },
                                "inline": { "type": "boolean" }
                              }
                            }
                          }
                        }
                      },
                      "timeTracked": { "type": "integer", "format": "int32" },
                      "duplicateInIncidents": { "type": "boolean" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer", "format": "int32" },
                    "version": { "type": "integer", "format": "int32" },
                    "emailId": { "type": "string" },
                    "emailAddressConfigId": { "type": "integer", "format": "int32" },
                    "assignedAppUserId": { "type": "integer", "format": "int32" },
                    "ticketFormId": { "type": "integer", "format": "int32" },
                    "requesterUid": { "type": "string", "format": "uuid" },
                    "nodeId": { "type": "integer", "format": "int32" },
                    "locationId": { "type": "integer", "format": "int32" },
                    "clientId": { "type": "integer", "format": "int32" },
                    "summary": { "type": "string" },
                    "status": {
                      "type": "string",
                      "enum": ["NEW", "OPEN", "WAITING", "PAUSED", "RESOLVED", "CLOSED"]
                    },
                    "type": {
                      "type": "string",
                      "enum": ["PROBLEM", "QUESTION", "INCIDENT", "TASK"]
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "TECHNICIAN",
                        "EMAIL",
                        "WEB_FORM",
                        "HELP_REQUEST",
                        "END_USER",
                        "CONDITION",
                        "SCHEDULED_SCRIPT"
                      ]
                    },
                    "sourceConfigUid": { "type": "string", "format": "uuid" },
                    "priority": { "type": "integer", "format": "int32" },
                    "severity": { "type": "integer", "format": "int32" },
                    "createTime": { "type": "number", "format": "double" },
                    "deleted": { "type": "boolean" },
                    "tags": { "type": "array", "items": { "type": "string" } },
                    "ccList": {
                      "type": "object",
                      "properties": {
                        "uids": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": { "type": "string", "format": "uuid" }
                        },
                        "emails": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      }
                    },
                    "attributeValues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer", "format": "int32" },
                          "attributeId": { "type": "integer", "format": "int32" },
                          "textValue": { "type": "string" },
                          "encryptedTextValue": { "type": "string" },
                          "intValue": { "type": "integer", "format": "int32" },
                          "floatValue": { "type": "number", "format": "float" },
                          "datetimeValue": { "type": "number", "format": "double" },
                          "uuidValue": { "type": "string", "format": "uuid" },
                          "booleanValue": { "type": "boolean" },
                          "uuidValues": {
                            "type": "array",
                            "items": { "type": "string", "format": "uuid" }
                          },
                          "attachmentValue": {
                            "type": "object",
                            "properties": {
                              "name": { "type": "string" },
                              "size": { "type": "integer", "format": "int64" },
                              "mimeType": { "type": "string" },
                              "resourceId": { "type": "string" },
                              "extension": { "type": "string" },
                              "contentId": { "type": "string" }
                            }
                          },
                          "entityValue": {
                            "type": "object",
                            "properties": {
                              "entityId": { "type": "integer", "format": "int32" },
                              "type": {
                                "type": "string",
                                "enum": ["NODE", "CLIENT", "CLIENT_LOCATION"]
                              }
                            }
                          },
                          "entityValues": {
                            "type": "object",
                            "properties": {
                              "entityIds": {
                                "type": "array",
                                "items": { "type": "integer", "format": "int32" }
                              },
                              "type": {
                                "type": "string",
                                "enum": ["NODE", "CLIENT", "CLIENT_LOCATION"]
                              }
                            }
                          },
                          "wysiwygValue": {
                            "type": "object",
                            "properties": {
                              "text": { "type": "string" },
                              "html": { "type": "string" },
                              "attachments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": { "type": "string" },
                                    "size": { "type": "integer", "format": "int64" },
                                    "mimeType": { "type": "string" },
                                    "resourceId": { "type": "string" },
                                    "extension": { "type": "string" },
                                    "contentId": { "type": "string" }
                                  }
                                }
                              }
                            }
                          },
                          "createTime": { "type": "number", "format": "double" },
                          "updateTime": { "type": "number", "format": "double" },
                          "updatedBy": {
                            "type": "object",
                            "properties": {
                              "source": { "type": "string", "enum": ["API", "USER", "SCRIPT"] },
                              "user": {
                                "type": "object",
                                "properties": {
                                  "id": { "type": "integer", "format": "int32" },
                                  "name": { "type": "string" }
                                }
                              }
                            },
                            "description": "Value source (who/what updated the value)"
                          },
                          "value": { "type": "object" }
                        }
                      }
                    },
                    "ticketForm": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "format": "int32" },
                        "name": { "type": "string" },
                        "description": { "type": "string" },
                        "endUserTitle": { "type": "string" },
                        "content": {
                          "type": "object",
                          "properties": {
                            "fields": {
                              "type": "array",
                              "items": { "type": "integer", "format": "int32" }
                            },
                            "timerSettings": {
                              "type": "object",
                              "properties": {
                                "enabled": { "type": "boolean" },
                                "mode": { "type": "string", "enum": ["MANUAL", "AUTO_START"] }
                              }
                            }
                          }
                        },
                        "active": { "type": "boolean" },
                        "default": { "type": "boolean" },
                        "createTime": { "type": "number", "format": "double" },
                        "updateTime": { "type": "number", "format": "double" },
                        "endUserVisible": { "type": "boolean" },
                        "endUserDefault": { "type": "boolean" },
                        "mode": {
                          "type": "string",
                          "writeOnly": true,
                          "enum": ["MANUAL", "AUTO_START"]
                        }
                      }
                    },
                    "requester": {
                      "type": "object",
                      "properties": {
                        "uid": { "type": "string", "format": "uuid" },
                        "clientId": { "type": "integer", "format": "int32" },
                        "firstName": { "type": "string" },
                        "lastName": { "type": "string" },
                        "email": { "type": "string" },
                        "deleted": { "type": "boolean" },
                        "userType": {
                          "type": "string",
                          "enum": ["TECHNICIAN", "END_USER", "CONTACT"]
                        },
                        "appUser": { "type": "boolean" }
                      }
                    },
                    "assignedAppUser": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "format": "int32" },
                        "uid": { "type": "string", "format": "uuid" },
                        "divisionContainer": { "$ref": "#/components/schemas/IDivisionContext" },
                        "email": { "type": "string" },
                        "phone": { "type": "string" },
                        "phoneVerified": { "type": "boolean", "writeOnly": true },
                        "firstName": { "type": "string" },
                        "lastName": { "type": "string" },
                        "password": { "type": "string" },
                        "mustChangePw": { "type": "boolean" },
                        "enabled": { "type": "boolean" },
                        "contentNode": { "type": "object", "additionalProperties": true },
                        "ninjaAdmin": { "type": "boolean" },
                        "sysadmin": { "type": "boolean" },
                        "permitAllClients": { "type": "boolean" },
                        "notifyAllClients": { "type": "boolean" },
                        "masterMspUser": { "type": "boolean" },
                        "userType": { "type": "string", "enum": ["TECHNICIAN", "END_USER"] },
                        "clientId": { "type": "integer", "format": "int32" },
                        "favorites": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "GROUP",
                                  "CUSTOMER",
                                  "TICKET",
                                  "DEVICE",
                                  "VM",
                                  "VM_HOST",
                                  "VM_GUEST",
                                  "MONITOR",
                                  "NMS"
                                ]
                              },
                              "id": { "type": "integer", "format": "int32" }
                            }
                          }
                        },
                        "recents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "GROUP",
                                  "CUSTOMER",
                                  "TICKET",
                                  "DEVICE",
                                  "VM",
                                  "VM_HOST",
                                  "VM_GUEST",
                                  "MONITOR",
                                  "NMS"
                                ]
                              },
                              "id": { "type": "integer", "format": "int32" }
                            }
                          }
                        },
                        "authenticationType": { "type": "string", "enum": ["NATIVE", "SSO"] },
                        "roleIds": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": { "type": "integer", "format": "int32" }
                        },
                        "ownerRoleId": { "type": "integer", "format": "int32" },
                        "appUserClientMap": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "clientId": { "type": "integer", "format": "int32" },
                              "permit": { "type": "boolean" },
                              "notify": { "type": "boolean" }
                            }
                          }
                        },
                        "fileFolderBackupAllowed": { "type": "boolean" },
                        "emailNotificationPreferences": {
                          "type": "object",
                          "properties": {
                            "enabled": { "type": "boolean" },
                            "minSeverity": {
                              "type": "string",
                              "enum": ["NONE", "MINOR", "MODERATE", "MAJOR", "CRITICAL"]
                            },
                            "minPriority": {
                              "type": "string",
                              "enum": ["NONE", "LOW", "MEDIUM", "HIGH"]
                            },
                            "schedule": {
                              "type": "object",
                              "properties": {
                                "weekDays": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"]
                                  }
                                },
                                "startHour": { "type": "integer", "format": "int32" },
                                "endHour": { "type": "integer", "format": "int32" }
                              }
                            },
                            "timeZone": { "type": "string" }
                          }
                        },
                        "u2FTokenCount": { "type": "integer", "format": "int32" },
                        "pwResetTime": { "type": "number", "format": "double" },
                        "invitationAcceptedTime": { "type": "number", "format": "double" },
                        "name": { "type": "string" },
                        "displayName": { "type": "string" },
                        "ticketingAdmin": { "type": "boolean" },
                        "phoneMasked": { "type": "string" },
                        "smsotpconfigured": { "type": "boolean" },
                        "totpconfigured": { "type": "boolean" },
                        "u2FConfigured": { "type": "boolean" },
                        "plainPassword": { "type": "string", "writeOnly": true },
                        "emailFormatLegacy": { "type": "boolean" },
                        "mfaconfigured": { "type": "boolean" },
                        "invitationAccepted": { "type": "boolean" },
                        "globalEndUser": { "type": "boolean" },
                        "technician": { "type": "boolean" },
                        "endUser": { "type": "boolean" },
                        "divisionContext": { "$ref": "#/components/schemas/IDivisionContext" },
                        "preferredMFAType": {
                          "type": "string",
                          "enum": ["NONE", "TOTP", "SMSOTP", "U2F_TOKEN"]
                        },
                        "smsnotificationPreferences": {
                          "type": "object",
                          "properties": {
                            "enabled": { "type": "boolean" },
                            "minSeverity": {
                              "type": "string",
                              "enum": ["NONE", "MINOR", "MODERATE", "MAJOR", "CRITICAL"]
                            },
                            "minPriority": {
                              "type": "string",
                              "enum": ["NONE", "LOW", "MEDIUM", "HIGH"]
                            },
                            "schedule": {
                              "type": "object",
                              "properties": {
                                "weekDays": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"]
                                  }
                                },
                                "startHour": { "type": "integer", "format": "int32" },
                                "endHour": { "type": "integer", "format": "int32" }
                              }
                            },
                            "timeZone": { "type": "string" }
                          }
                        }
                      }
                    },
                    "client": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "format": "int32" },
                        "uid": { "type": "string", "format": "uuid" },
                        "name": { "type": "string" },
                        "description": { "type": "string" },
                        "psaId": { "type": "integer", "format": "int64" },
                        "psaName": { "type": "string" },
                        "folderUid": { "type": "string", "format": "uuid" },
                        "inHouse": { "type": "boolean" },
                        "contentNode": { "type": "object", "additionalProperties": true },
                        "defaultLocationId": { "type": "integer", "format": "int32" },
                        "userData": { "type": "object", "additionalProperties": true },
                        "remoteSupportFolder": { "type": "boolean" },
                        "clientPolicyList": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "clientId": { "type": "integer", "format": "int32" },
                              "nodeRoleId": { "type": "integer", "format": "int32" },
                              "nodeClass": {
                                "type": "string",
                                "enum": [
                                  "WINDOWS_SERVER",
                                  "WINDOWS_WORKSTATION",
                                  "LINUX_WORKSTATION",
                                  "MAC",
                                  "ANDROID",
                                  "VMWARE_VM_HOST",
                                  "VMWARE_VM_GUEST",
                                  "HYPERV_VMM_HOST",
                                  "HYPERV_VMM_GUEST",
                                  "LINUX_SERVER",
                                  "MAC_SERVER",
                                  "CLOUD_MONITOR_TARGET",
                                  "NMS_SWITCH",
                                  "NMS_ROUTER",
                                  "NMS_FIREWALL",
                                  "NMS_PRIVATE_NETWORK_GATEWAY",
                                  "NMS_PRINTER",
                                  "NMS_SCANNER",
                                  "NMS_DIAL_MANAGER",
                                  "NMS_WAP",
                                  "NMS_IPSLA",
                                  "NMS_COMPUTER",
                                  "NMS_VM_HOST",
                                  "NMS_APPLIANCE",
                                  "NMS_OTHER",
                                  "NMS_SERVER",
                                  "NMS_PHONE",
                                  "NMS_VIRTUAL_MACHINE",
                                  "NMS_NETWORK_MANAGEMENT_AGENT"
                                ]
                              },
                              "policyId": { "type": "integer", "format": "int32" }
                            }
                          }
                        },
                        "divisionContainer": { "$ref": "#/components/schemas/IDivisionContext" },
                        "credentialsMap": {
                          "type": "object",
                          "additionalProperties": { "type": "integer", "format": "int32" }
                        },
                        "approvalMode": {
                          "type": "string",
                          "enum": ["AUTOMATIC", "MANUAL", "REJECT"]
                        },
                        "valid": { "type": "boolean" },
                        "content": { "type": "string" },
                        "connectWiseNode": { "type": "object", "additionalProperties": true },
                        "psaIdAsInt": { "type": "integer", "format": "int32" },
                        "productCode": {
                          "type": "string",
                          "enum": [
                            "SHADOWPROTECT",
                            "IMAGEMANAGER",
                            "VIPRE",
                            "SPLASHTOP",
                            "CLOUDBERRY",
                            "WEBROOT",
                            "BITDEFENDER",
                            "LOCKHART",
                            "CONNECTWISE"
                          ]
                        },
                        "validForPsaTicketCreate": { "type": "boolean" }
                      }
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "format": "int32" },
                        "name": { "type": "string" },
                        "address": { "type": "string" },
                        "description": { "type": "string" },
                        "userData": { "type": "object", "additionalProperties": true },
                        "psaLocationId": { "type": "integer", "format": "int32" },
                        "psaLocationName": { "type": "string" },
                        "clientId": { "type": "integer", "format": "int32" },
                        "default": { "type": "boolean" },
                        "locationContent": {
                          "type": "object",
                          "properties": {
                            "patching": {
                              "type": "object",
                              "properties": {
                                "hostname": { "type": "string" },
                                "port": { "type": "string" },
                                "secure": { "type": "boolean" },
                                "useCloud": { "type": "boolean" },
                                "wsusEnabled": { "type": "boolean" }
                              }
                            },
                            "backup": {
                              "type": "object",
                              "properties": { "networkLocationEnabled": { "type": "boolean" } }
                            }
                          }
                        },
                        "networkLocationEnabled": { "type": "boolean" },
                        "content": {
                          "type": "object",
                          "properties": {
                            "patching": {
                              "type": "object",
                              "properties": {
                                "hostname": { "type": "string" },
                                "port": { "type": "string" },
                                "secure": { "type": "boolean" },
                                "useCloud": { "type": "boolean" },
                                "wsusEnabled": { "type": "boolean" }
                              }
                            },
                            "backup": {
                              "type": "object",
                              "properties": { "networkLocationEnabled": { "type": "boolean" } }
                            }
                          }
                        }
                      }
                    },
                    "node": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "format": "int32" },
                        "uid": { "type": "string", "format": "uuid" },
                        "nodeRole": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Device Role identifier",
                              "format": "int32"
                            },
                            "name": { "type": "string", "description": "Name" },
                            "description": { "type": "string", "description": "Description" },
                            "nodeClass": {
                              "type": "string",
                              "description": "Node Class",
                              "enum": [
                                "WINDOWS_SERVER",
                                "WINDOWS_WORKSTATION",
                                "LINUX_WORKSTATION",
                                "MAC",
                                "ANDROID",
                                "VMWARE_VM_HOST",
                                "VMWARE_VM_GUEST",
                                "HYPERV_VMM_HOST",
                                "HYPERV_VMM_GUEST",
                                "LINUX_SERVER",
                                "MAC_SERVER",
                                "CLOUD_MONITOR_TARGET",
                                "NMS_SWITCH",
                                "NMS_ROUTER",
                                "NMS_FIREWALL",
                                "NMS_PRIVATE_NETWORK_GATEWAY",
                                "NMS_PRINTER",
                                "NMS_SCANNER",
                                "NMS_DIAL_MANAGER",
                                "NMS_WAP",
                                "NMS_IPSLA",
                                "NMS_COMPUTER",
                                "NMS_VM_HOST",
                                "NMS_APPLIANCE",
                                "NMS_OTHER",
                                "NMS_SERVER",
                                "NMS_PHONE",
                                "NMS_VIRTUAL_MACHINE",
                                "NMS_NETWORK_MANAGEMENT_AGENT"
                              ]
                            },
                            "custom": { "type": "boolean", "description": "Is custom node role?" },
                            "chassisType": {
                              "type": "string",
                              "description": "Chassis Type",
                              "enum": ["UNKNOWN", "DESKTOP", "LAPTOP", "MOBILE"]
                            },
                            "created": {
                              "type": "number",
                              "description": "Date created",
                              "format": "double"
                            },
                            "tags": {
                              "type": "array",
                              "description": "Tags",
                              "items": { "type": "string", "description": "Tags" }
                            },
                            "fields": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "description": "Custom Fields"
                              },
                              "description": "Custom Fields"
                            }
                          },
                          "description": "Device Role"
                        },
                        "clientId": { "type": "integer", "format": "int32" },
                        "policyId": { "type": "integer", "format": "int32" },
                        "dnsName": { "type": "string" },
                        "systemName": { "type": "string" },
                        "netbiosName": { "type": "string" },
                        "friendlyName": { "type": "string" },
                        "ipAddress": {
                          "type": "object",
                          "properties": {
                            "canonicalHostName": { "type": "string" },
                            "multicastAddress": { "type": "boolean" },
                            "anyLocalAddress": { "type": "boolean" },
                            "loopbackAddress": { "type": "boolean" },
                            "linkLocalAddress": { "type": "boolean" },
                            "siteLocalAddress": { "type": "boolean" },
                            "mcglobal": { "type": "boolean" },
                            "mcnodeLocal": { "type": "boolean" },
                            "mclinkLocal": { "type": "boolean" },
                            "mcsiteLocal": { "type": "boolean" },
                            "mcorgLocal": { "type": "boolean" },
                            "address": {
                              "type": "array",
                              "items": { "type": "string", "format": "byte" }
                            },
                            "hostAddress": { "type": "string" },
                            "hostName": { "type": "string" }
                          }
                        },
                        "nodeType": {
                          "type": "string",
                          "enum": [
                            "AGENT",
                            "CLOUD_MONITOR_TARGET",
                            "NMS_SERVER",
                            "NMS_TARGET",
                            "VMM_TARGET",
                            "CLOUD_MONITOR_TARGET_EMAIL_SERVER",
                            "MOBILE_TARGET"
                          ]
                        },
                        "nodeRoleId": { "type": "integer", "format": "int32" },
                        "nodeClass": {
                          "type": "string",
                          "enum": [
                            "WINDOWS_SERVER",
                            "WINDOWS_WORKSTATION",
                            "LINUX_WORKSTATION",
                            "MAC",
                            "ANDROID",
                            "VMWARE_VM_HOST",
                            "VMWARE_VM_GUEST",
                            "HYPERV_VMM_HOST",
                            "HYPERV_VMM_GUEST",
                            "LINUX_SERVER",
                            "MAC_SERVER",
                            "CLOUD_MONITOR_TARGET",
                            "NMS_SWITCH",
                            "NMS_ROUTER",
                            "NMS_FIREWALL",
                            "NMS_PRIVATE_NETWORK_GATEWAY",
                            "NMS_PRINTER",
                            "NMS_SCANNER",
                            "NMS_DIAL_MANAGER",
                            "NMS_WAP",
                            "NMS_IPSLA",
                            "NMS_COMPUTER",
                            "NMS_VM_HOST",
                            "NMS_APPLIANCE",
                            "NMS_OTHER",
                            "NMS_SERVER",
                            "NMS_PHONE",
                            "NMS_VIRTUAL_MACHINE",
                            "NMS_NETWORK_MANAGEMENT_AGENT"
                          ]
                        },
                        "chassisType": {
                          "type": "string",
                          "enum": ["UNKNOWN", "DESKTOP", "LAPTOP", "MOBILE"]
                        },
                        "submitTime": { "type": "number", "format": "double" },
                        "contactTime": { "type": "number", "format": "double" },
                        "offline": { "type": "boolean" },
                        "parentNodeId": { "type": "integer", "format": "int32" },
                        "onlineStatus": {
                          "type": "string",
                          "enum": [
                            "OFFLINE",
                            "ONLINE",
                            "CONNECTED",
                            "SLEEPING",
                            "UPGRADING",
                            "REBOOTING"
                          ]
                        },
                        "locationId": { "type": "integer", "format": "int32" },
                        "created": { "type": "number", "format": "double" },
                        "description": { "type": "string" },
                        "approvalStatus": { "type": "string", "enum": ["PENDING", "APPROVED"] },
                        "responsibilities": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": ["RMM_AGENT", "VMM_AGENT", "NM_AGENT"]
                          }
                        },
                        "divisionContainer": { "$ref": "#/components/schemas/IDivisionContext" },
                        "client": { "$ref": "#/components/schemas/Client" },
                        "needsReload": { "type": "boolean", "writeOnly": true },
                        "machineId": { "type": "string" },
                        "content": { "type": "string" },
                        "policyContent": { "type": "string" },
                        "agentSettings": { "type": "string" },
                        "monitorServerSettings": { "type": "string" },
                        "nmsServerSettings": { "type": "string" },
                        "offlineEvaluationStatus": {
                          "type": "string",
                          "enum": ["NOT_APPLICABLE", "PENDING", "PROCESSING", "COMPLETE_TRIGGERED"]
                        },
                        "approvalStatusByAppUserId": { "type": "integer", "format": "int32" },
                        "approvalStatusByAppUserName": { "type": "string" },
                        "approvalStatusTime": { "type": "number", "format": "double" },
                        "userData": { "type": "object", "additionalProperties": true },
                        "nodeMaintenanceInfo": {
                          "type": "object",
                          "properties": {
                            "startTime": { "type": "number", "format": "double" },
                            "endTime": { "type": "number", "format": "double" },
                            "agentMaintenanceStatus": {
                              "type": "string",
                              "enum": ["PENDING", "IN_MAINTENANCE", "FAILED_TO_ENTER_MAINTENANCE"]
                            },
                            "disabledOptions": { "type": "array", "items": { "type": "string" } }
                          }
                        },
                        "isWAMPRegistered": { "type": "boolean" },
                        "currentSessionId": { "type": "string", "format": "uuid" },
                        "publicIP": { "type": "string" },
                        "credentialsMap": {
                          "type": "object",
                          "additionalProperties": { "type": "integer", "format": "int32" }
                        },
                        "mdmStatus": {
                          "type": "string",
                          "enum": ["PENDING_RELINQUISH", "PENDING_ERASE", "RELINQUISHED", "ERASED"]
                        },
                        "name": { "type": "string" },
                        "disconnectedFromWAMP": { "type": "boolean" },
                        "connectedToWAMP": { "type": "boolean" },
                        "agentNode": { "type": "boolean" },
                        "allAncestors": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Node" }
                        },
                        "parentNode": { "$ref": "#/components/schemas/Node" },
                        "clientUid": { "type": "string", "format": "uuid" },
                        "divisionUid": { "type": "string", "format": "uuid" },
                        "submitDataTeamViewerClientIdParsed": { "type": "boolean" },
                        "submitDataTeamViewerClientId": { "type": "integer", "format": "int32" },
                        "displayName": { "type": "string" },
                        "server": { "type": "boolean" },
                        "mdmDevice": { "type": "boolean" },
                        "windowsServer": { "type": "boolean" },
                        "windowsWorkstation": { "type": "boolean" },
                        "windowsDesktop": { "type": "boolean" },
                        "windowsLaptop": { "type": "boolean" },
                        "nmsServerNode": { "type": "boolean" },
                        "nmsTargetNode": { "type": "boolean" },
                        "nmsNode": { "type": "boolean" },
                        "macServer": { "type": "boolean" },
                        "macWorkstation": { "type": "boolean" },
                        "macDesktop": { "type": "boolean" },
                        "macLaptop": { "type": "boolean" },
                        "vmwareHost": { "type": "boolean" },
                        "vmwareVirtualMachine": { "type": "boolean" },
                        "hyperVHost": { "type": "boolean" },
                        "hyperVVirtualMachine": { "type": "boolean" },
                        "linuxServer": { "type": "boolean" },
                        "androidDevice": { "type": "boolean" },
                        "linuxWorkstation": { "type": "boolean" },
                        "linuxDesktop": { "type": "boolean" },
                        "linuxLaptop": { "type": "boolean" },
                        "dashboardString": { "type": "string" },
                        "approved": { "type": "boolean" },
                        "monitorServerNode": { "type": "boolean" },
                        "nodeRoleFields": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Device Role identifier",
                              "format": "int32"
                            },
                            "name": { "type": "string", "description": "Name" },
                            "description": { "type": "string", "description": "Description" },
                            "nodeClass": {
                              "type": "string",
                              "description": "Node Class",
                              "enum": [
                                "WINDOWS_SERVER",
                                "WINDOWS_WORKSTATION",
                                "LINUX_WORKSTATION",
                                "MAC",
                                "ANDROID",
                                "VMWARE_VM_HOST",
                                "VMWARE_VM_GUEST",
                                "HYPERV_VMM_HOST",
                                "HYPERV_VMM_GUEST",
                                "LINUX_SERVER",
                                "MAC_SERVER",
                                "CLOUD_MONITOR_TARGET",
                                "NMS_SWITCH",
                                "NMS_ROUTER",
                                "NMS_FIREWALL",
                                "NMS_PRIVATE_NETWORK_GATEWAY",
                                "NMS_PRINTER",
                                "NMS_SCANNER",
                                "NMS_DIAL_MANAGER",
                                "NMS_WAP",
                                "NMS_IPSLA",
                                "NMS_COMPUTER",
                                "NMS_VM_HOST",
                                "NMS_APPLIANCE",
                                "NMS_OTHER",
                                "NMS_SERVER",
                                "NMS_PHONE",
                                "NMS_VIRTUAL_MACHINE",
                                "NMS_NETWORK_MANAGEMENT_AGENT"
                              ]
                            },
                            "custom": { "type": "boolean", "description": "Is custom node role?" },
                            "chassisType": {
                              "type": "string",
                              "description": "Chassis Type",
                              "enum": ["UNKNOWN", "DESKTOP", "LAPTOP", "MOBILE"]
                            },
                            "created": {
                              "type": "number",
                              "description": "Date created",
                              "format": "double"
                            },
                            "tags": {
                              "type": "array",
                              "description": "Tags",
                              "items": { "type": "string", "description": "Tags" }
                            },
                            "fields": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "description": "Custom Fields"
                              },
                              "description": "Custom Fields"
                            }
                          },
                          "description": "Device Role"
                        }
                      }
                    },
                    "ticketRelationsByTicketRight": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TicketRelation" }
                    },
                    "ticketRelationsByTicketLeft": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TicketRelation" }
                    },
                    "solved": { "type": "boolean" },
                    "notModifiable": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ticketing/ticket": {
      "post": {
        "tags": ["Management"],
        "summary": "create ticket",
        "description": "create ticket",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestUid": { "type": "string", "format": "uuid" },
                  "clientId": { "type": "integer", "format": "int32" },
                  "ticketFormId": { "type": "integer", "format": "int32" },
                  "locationId": { "type": "integer", "format": "int32" },
                  "nodeId": { "type": "integer", "format": "int32" },
                  "summary": { "maxLength": 200, "minLength": 0, "type": "string" },
                  "description": {
                    "type": "object",
                    "properties": {
                      "public": { "type": "boolean" },
                      "body": { "type": "string" },
                      "htmlBody": { "type": "string" },
                      "uploads": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "resourceId": { "type": "string" },
                            "metadata": {
                              "type": "object",
                              "properties": {
                                "name": { "type": "string" },
                                "mimeType": { "type": "string" },
                                "size": { "type": "string" },
                                "extension": { "type": "string" },
                                "contentId": { "type": "string" },
                                "inline": { "type": "boolean" }
                              }
                            }
                          }
                        }
                      },
                      "timeTracked": { "type": "integer", "format": "int32" },
                      "duplicateInIncidents": { "type": "boolean" }
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": ["NEW", "OPEN", "WAITING", "PAUSED", "RESOLVED", "CLOSED"]
                  },
                  "type": { "type": "string", "enum": ["PROBLEM", "QUESTION", "INCIDENT", "TASK"] },
                  "assignedAppUserId": { "type": "integer", "format": "int32" },
                  "requesterUid": { "type": "string", "format": "uuid" },
                  "ccList": {
                    "type": "object",
                    "properties": {
                      "uids": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": { "type": "string", "format": "uuid" }
                      },
                      "emails": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": { "type": "string" }
                      }
                    }
                  },
                  "attributeValues": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "format": "int32" },
                        "attributeId": { "type": "integer", "format": "int32" },
                        "value": { "type": "string" }
                      }
                    }
                  },
                  "severity": {
                    "type": "string",
                    "enum": ["NONE", "MINOR", "MODERATE", "MAJOR", "CRITICAL"]
                  },
                  "priority": { "type": "string", "enum": ["NONE", "LOW", "MEDIUM", "HIGH"] },
                  "tags": { "type": "array", "items": { "type": "string" } },
                  "parentTicketId": { "type": "integer", "format": "int32" }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": { "schema": { "type": "integer", "format": "int32" } }
            }
          }
        }
      }
    },
    "/api/v2/ticketing/ticket/{ticketId}/log-entry": {
      "get": {
        "tags": ["Ticketing"],
        "summary": "Get list of ticket log entries",
        "description": "Get list of ticket log entries",
        "operationId": "getTicketLogEntriesByTicketId",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["DESCRIPTION", "COMMENT", "CONDITION", "SAVE", "DELETE"]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer", "format": "int32" },
                      "appUserContactUid": { "type": "string", "format": "uuid" },
                      "type": {
                        "type": "string",
                        "enum": ["DESCRIPTION", "COMMENT", "CONDITION", "SAVE", "DELETE"]
                      },
                      "body": { "type": "string" },
                      "htmlBody": { "type": "string" },
                      "fullEmailBody": { "type": "string" },
                      "publicEntry": { "type": "boolean" },
                      "System": { "type": "boolean" },
                      "createTime": { "type": "number", "format": "double" },
                      "changeDiff": { "type": "object" },
                      "activityId": { "type": "integer", "format": "int64" },
                      "timeTracked": { "type": "integer", "format": "int32" },
                      "emailResponse": { "type": "boolean" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/attachment/{id}": {
      "get": {
        "tags": ["System"],
        "summary": "Retrieve attachment",
        "description": "Returns attachment (image, document)",
        "operationId": "getAttachment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Attachment identifier",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "default": { "description": "default response", "content": { "*/*": {} } } }
      }
    },
    "/api/v2/device/{id}": {
      "get": {
        "tags": ["Devices"],
        "summary": "Device details",
        "description": "Returns device details",
        "operationId": "getDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device identifier",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          }
        ],
        "responses": {
          "200": {
            "description": "Device information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Node (Device) identifier",
                      "format": "int32"
                    },
                    "parentDeviceId": {
                      "type": "integer",
                      "description": "Parent Node identifier",
                      "format": "int32"
                    },
                    "organizationId": {
                      "type": "integer",
                      "description": "Organization identifier",
                      "format": "int32"
                    },
                    "locationId": {
                      "type": "integer",
                      "description": "Location identifier",
                      "format": "int32"
                    },
                    "nodeClass": {
                      "type": "string",
                      "description": "Node Class",
                      "enum": [
                        "WINDOWS_SERVER",
                        "WINDOWS_WORKSTATION",
                        "LINUX_WORKSTATION",
                        "MAC",
                        "ANDROID",
                        "VMWARE_VM_HOST",
                        "VMWARE_VM_GUEST",
                        "HYPERV_VMM_HOST",
                        "HYPERV_VMM_GUEST",
                        "LINUX_SERVER",
                        "MAC_SERVER",
                        "CLOUD_MONITOR_TARGET",
                        "NMS_SWITCH",
                        "NMS_ROUTER",
                        "NMS_FIREWALL",
                        "NMS_PRIVATE_NETWORK_GATEWAY",
                        "NMS_PRINTER",
                        "NMS_SCANNER",
                        "NMS_DIAL_MANAGER",
                        "NMS_WAP",
                        "NMS_IPSLA",
                        "NMS_COMPUTER",
                        "NMS_VM_HOST",
                        "NMS_APPLIANCE",
                        "NMS_OTHER",
                        "NMS_SERVER",
                        "NMS_PHONE",
                        "NMS_VIRTUAL_MACHINE",
                        "NMS_NETWORK_MANAGEMENT_AGENT"
                      ]
                    },
                    "nodeRoleId": {
                      "type": "integer",
                      "description": "Node Role identifier",
                      "format": "int32"
                    },
                    "rolePolicyId": {
                      "type": "integer",
                      "description": "Node Role policy ID based on organization Policy Mapping",
                      "format": "int32"
                    },
                    "policyId": {
                      "type": "integer",
                      "description": "Assigned policy ID (overrides organization policy mapping)",
                      "format": "int32"
                    },
                    "approvalStatus": {
                      "type": "string",
                      "description": "Approval Status",
                      "enum": ["PENDING", "APPROVED"]
                    },
                    "offline": { "type": "boolean", "description": "Is Offline?" },
                    "displayName": { "type": "string", "description": "Display Name" },
                    "systemName": { "type": "string", "description": "System Name" },
                    "dnsName": { "type": "string", "description": "DNS Name" },
                    "netbiosName": { "type": "string", "description": "NETBIOS Name" },
                    "created": { "type": "number", "description": "Created", "format": "double" },
                    "lastContact": {
                      "type": "number",
                      "description": "Last Contact",
                      "format": "double"
                    },
                    "lastUpdate": {
                      "type": "number",
                      "description": "Last data submission timestamp",
                      "format": "double"
                    },
                    "userData": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Custom attributes"
                    },
                    "tags": {
                      "type": "array",
                      "description": "Tags",
                      "items": { "type": "string", "description": "Tags" }
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": { "type": "object", "description": "Custom Fields" },
                      "description": "Custom Fields"
                    },
                    "maintenance": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "Maintenance mode status",
                          "enum": ["PENDING", "IN_MAINTENANCE", "FAILED"]
                        },
                        "start": {
                          "type": "number",
                          "description": "Maintenance mode start time",
                          "format": "double"
                        },
                        "end": {
                          "type": "number",
                          "description": "Maintenance mode end time",
                          "format": "double"
                        }
                      },
                      "description": "Maintenance mode status"
                    },
                    "references": {
                      "type": "object",
                      "properties": {
                        "organization": {
                          "type": "object",
                          "properties": {
                            "name": { "type": "string", "description": "Organization full name" },
                            "description": {
                              "type": "string",
                              "description": "Organization Description"
                            },
                            "userData": {
                              "type": "object",
                              "additionalProperties": true,
                              "description": "Custom attributes"
                            },
                            "nodeApprovalMode": {
                              "type": "string",
                              "description": "Device Approval Mode",
                              "enum": ["AUTOMATIC", "MANUAL", "REJECT"]
                            },
                            "tags": {
                              "type": "array",
                              "description": "Tags",
                              "items": { "type": "string", "description": "Tags" }
                            },
                            "fields": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "description": "Custom Fields"
                              },
                              "description": "Custom Fields"
                            },
                            "id": {
                              "type": "integer",
                              "description": "Organization identifier",
                              "format": "int32"
                            }
                          }
                        },
                        "location": {
                          "type": "object",
                          "properties": {
                            "name": { "type": "string", "description": "Location name" },
                            "address": { "type": "string", "description": "Address" },
                            "description": { "type": "string", "description": "Description" },
                            "userData": {
                              "type": "object",
                              "additionalProperties": true,
                              "description": "Custom attributes"
                            },
                            "tags": {
                              "type": "array",
                              "description": "Tags",
                              "items": { "type": "string", "description": "Tags" }
                            },
                            "fields": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "description": "Custom Fields"
                              },
                              "description": "Custom Fields"
                            },
                            "id": {
                              "type": "integer",
                              "description": "Location identifier",
                              "format": "int32"
                            }
                          },
                          "description": "Location"
                        },
                        "rolePolicy": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Policy identifier",
                              "format": "int32"
                            },
                            "parentPolicyId": {
                              "type": "integer",
                              "description": "Parent Policy identifier",
                              "format": "int32"
                            },
                            "name": { "type": "string", "description": "Name" },
                            "description": { "type": "string", "description": "Description" },
                            "nodeClass": {
                              "type": "string",
                              "description": "Node Class",
                              "enum": [
                                "WINDOWS_SERVER",
                                "WINDOWS_WORKSTATION",
                                "LINUX_WORKSTATION",
                                "MAC",
                                "ANDROID",
                                "VMWARE_VM_HOST",
                                "VMWARE_VM_GUEST",
                                "HYPERV_VMM_HOST",
                                "HYPERV_VMM_GUEST",
                                "LINUX_SERVER",
                                "MAC_SERVER",
                                "CLOUD_MONITOR_TARGET",
                                "NMS_SWITCH",
                                "NMS_ROUTER",
                                "NMS_FIREWALL",
                                "NMS_PRIVATE_NETWORK_GATEWAY",
                                "NMS_PRINTER",
                                "NMS_SCANNER",
                                "NMS_DIAL_MANAGER",
                                "NMS_WAP",
                                "NMS_IPSLA",
                                "NMS_COMPUTER",
                                "NMS_VM_HOST",
                                "NMS_APPLIANCE",
                                "NMS_OTHER",
                                "NMS_SERVER",
                                "NMS_PHONE",
                                "NMS_VIRTUAL_MACHINE",
                                "NMS_NETWORK_MANAGEMENT_AGENT"
                              ]
                            },
                            "updated": {
                              "type": "number",
                              "description": "Last update timestamp",
                              "format": "double"
                            },
                            "nodeClassDefault": {
                              "type": "boolean",
                              "description": "Is Default Policy for Node Class"
                            },
                            "tags": {
                              "type": "array",
                              "description": "Tags",
                              "items": { "type": "string", "description": "Tags" }
                            },
                            "fields": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "description": "Custom Fields"
                              },
                              "description": "Custom Fields"
                            }
                          },
                          "description": "Assigned policy ID (overrides organization policy mapping)"
                        },
                        "policy": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Policy identifier",
                              "format": "int32"
                            },
                            "parentPolicyId": {
                              "type": "integer",
                              "description": "Parent Policy identifier",
                              "format": "int32"
                            },
                            "name": { "type": "string", "description": "Name" },
                            "description": { "type": "string", "description": "Description" },
                            "nodeClass": {
                              "type": "string",
                              "description": "Node Class",
                              "enum": [
                                "WINDOWS_SERVER",
                                "WINDOWS_WORKSTATION",
                                "LINUX_WORKSTATION",
                                "MAC",
                                "ANDROID",
                                "VMWARE_VM_HOST",
                                "VMWARE_VM_GUEST",
                                "HYPERV_VMM_HOST",
                                "HYPERV_VMM_GUEST",
                                "LINUX_SERVER",
                                "MAC_SERVER",
                                "CLOUD_MONITOR_TARGET",
                                "NMS_SWITCH",
                                "NMS_ROUTER",
                                "NMS_FIREWALL",
                                "NMS_PRIVATE_NETWORK_GATEWAY",
                                "NMS_PRINTER",
                                "NMS_SCANNER",
                                "NMS_DIAL_MANAGER",
                                "NMS_WAP",
                                "NMS_IPSLA",
                                "NMS_COMPUTER",
                                "NMS_VM_HOST",
                                "NMS_APPLIANCE",
                                "NMS_OTHER",
                                "NMS_SERVER",
                                "NMS_PHONE",
                                "NMS_VIRTUAL_MACHINE",
                                "NMS_NETWORK_MANAGEMENT_AGENT"
                              ]
                            },
                            "updated": {
                              "type": "number",
                              "description": "Last update timestamp",
                              "format": "double"
                            },
                            "nodeClassDefault": {
                              "type": "boolean",
                              "description": "Is Default Policy for Node Class"
                            },
                            "tags": {
                              "type": "array",
                              "description": "Tags",
                              "items": { "type": "string", "description": "Tags" }
                            },
                            "fields": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "description": "Custom Fields"
                              },
                              "description": "Custom Fields"
                            }
                          },
                          "description": "Assigned policy ID (overrides organization policy mapping)"
                        },
                        "role": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Device Role identifier",
                              "format": "int32"
                            },
                            "name": { "type": "string", "description": "Name" },
                            "description": { "type": "string", "description": "Description" },
                            "nodeClass": {
                              "type": "string",
                              "description": "Node Class",
                              "enum": [
                                "WINDOWS_SERVER",
                                "WINDOWS_WORKSTATION",
                                "LINUX_WORKSTATION",
                                "MAC",
                                "ANDROID",
                                "VMWARE_VM_HOST",
                                "VMWARE_VM_GUEST",
                                "HYPERV_VMM_HOST",
                                "HYPERV_VMM_GUEST",
                                "LINUX_SERVER",
                                "MAC_SERVER",
                                "CLOUD_MONITOR_TARGET",
                                "NMS_SWITCH",
                                "NMS_ROUTER",
                                "NMS_FIREWALL",
                                "NMS_PRIVATE_NETWORK_GATEWAY",
                                "NMS_PRINTER",
                                "NMS_SCANNER",
                                "NMS_DIAL_MANAGER",
                                "NMS_WAP",
                                "NMS_IPSLA",
                                "NMS_COMPUTER",
                                "NMS_VM_HOST",
                                "NMS_APPLIANCE",
                                "NMS_OTHER",
                                "NMS_SERVER",
                                "NMS_PHONE",
                                "NMS_VIRTUAL_MACHINE",
                                "NMS_NETWORK_MANAGEMENT_AGENT"
                              ]
                            },
                            "custom": { "type": "boolean", "description": "Is custom node role?" },
                            "chassisType": {
                              "type": "string",
                              "description": "Chassis Type",
                              "enum": ["UNKNOWN", "DESKTOP", "LAPTOP", "MOBILE"]
                            },
                            "created": {
                              "type": "number",
                              "description": "Date created",
                              "format": "double"
                            },
                            "tags": {
                              "type": "array",
                              "description": "Tags",
                              "items": { "type": "string", "description": "Tags" }
                            },
                            "fields": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "description": "Custom Fields"
                              },
                              "description": "Custom Fields"
                            }
                          },
                          "description": "Device Role"
                        }
                      },
                      "description": "Expanded entity references"
                    },
                    "ipAddresses": {
                      "type": "array",
                      "description": "Device IP addresses",
                      "items": { "type": "string", "description": "Device IP addresses" }
                    },
                    "macAddresses": {
                      "type": "array",
                      "description": "Device MAC addresses",
                      "items": { "type": "string", "description": "Device MAC addresses" }
                    },
                    "publicIP": { "type": "string", "description": "Device Public IP Address" },
                    "notes": {
                      "type": "array",
                      "description": "Device Notes",
                      "items": {
                        "type": "object",
                        "properties": { "text": { "type": "string", "description": "Note text" } },
                        "description": "Device Notes"
                      }
                    },
                    "deviceType": { "type": "string" }
                  },
                  "discriminator": { "propertyName": "deviceType" }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Management"],
        "summary": "Update device information",
        "description": "Change device friendly name, user data, etc.",
        "operationId": "updateDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device identifier",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "description": "Display name (User assigned)"
                  },
                  "userData": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom attributes"
                  },
                  "nodeRoleId": {
                    "type": "integer",
                    "description": "Node Role identifier",
                    "format": "int32"
                  },
                  "policyId": {
                    "type": "integer",
                    "description": "Assigned policy ID (overrides organization policy mapping, or reverts to organization policy if Null)",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": { "default": { "description": "default response", "content": { "*/*": {} } } },
        "security": [{ "oauth2": ["Management"] }]
      }
    },
    "/api/v2/device/{id}/windows-services": {
      "get": {
        "tags": ["Devices"],
        "summary": "Windows services",
        "description": "Returns list of Windows Services and their statuses",
        "operationId": "getDeviceServices",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device identifier",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Service name",
            "schema": { "type": "string" }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Service state",
            "schema": {
              "type": "string",
              "enum": [
                "UNKNOWN",
                "STOPPED",
                "START_PENDING",
                "RUNNING",
                "STOP_PENDING",
                "PAUSE_PENDING",
                "PAUSED",
                "CONTINUE_PENDING"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string", "description": "Name" },
                      "displayName": { "type": "string", "description": "Display Name" },
                      "description": { "type": "string", "description": "Description" },
                      "startType": {
                        "type": "string",
                        "description": "Start Type",
                        "enum": [
                          "AUTO_START",
                          "AUTO_START_DELAYED",
                          "BOOT_START",
                          "DEMAND_START",
                          "DISABLED",
                          "SYSTEM_START"
                        ]
                      },
                      "userName": { "type": "string", "description": "User Name" },
                      "state": {
                        "type": "string",
                        "description": "State",
                        "enum": [
                          "UNKNOWN",
                          "STOPPED",
                          "START_PENDING",
                          "RUNNING",
                          "STOP_PENDING",
                          "PAUSE_PENDING",
                          "PAUSED",
                          "CONTINUE_PENDING"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/device/{id}/dashboard-url": {
      "get": {
        "tags": ["Management"],
        "summary": "Device link",
        "description": "Returns link to device",
        "operationId": "getDeviceLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device identifier",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "redirect",
            "in": "query",
            "description": "Return redirect response",
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string", "description": "URL" },
                    "expires": {
                      "type": "number",
                      "description": "Link expiration time",
                      "format": "double"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/device/{id}/policy/overrides": {
      "get": {
        "tags": ["Devices"],
        "summary": "Get summary of device policy overrides",
        "description": "Returns list of overridden policy sections",
        "operationId": "getPolicyOverrides",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device identifier",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "overrides": {
                      "type": "array",
                      "description": "List of policy sections",
                      "items": { "type": "string", "description": "List of policy sections" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Management"],
        "summary": "Reset device policy overrides",
        "description": "Submit request to remove device policy overrides",
        "operationId": "resetPolicyOverrides",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device identifier",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          }
        ],
        "responses": {
          "default": { "description": "default response", "content": { "application/json": {} } }
        }
      }
    },
    "/api/v2/device/{id}/scripting/options": {
      "get": {
        "tags": ["Management"],
        "summary": "Device scripting options",
        "description": "Returns scripting options (built-in actions, custom scripts) available for device",
        "operationId": "requestScriptingOptions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
[...]
